---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Energy Wings Diesel</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <slot />
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	html {
		scroll-behavior: smooth;
	}
</style>
